:root {
      --main: #DAA023;
      --dark-main:#bf9456;
      --second: #1A1D21;
      --third: #707070;
}

h2 {
      font-family: 'Notable', sans-serif;
      font-size: 2.5em;
}

body {
      transition: 2s;
      background-color: var(--second);
      max-width: 80em;
      margin: 0 auto 0 auto;
      padding: 0;
}

.section {
      padding: 5em;
      height: 100vh;
      width: 100%;
}

#about {
      min-height: 100vh;
      margin-top: 5em;
      background-color: whitesmoke;
}

#about p {
      font-family: Georgia, 'Times New Roman', Times, serif ;
      padding: 2em;
}

#cando {
      margin-top: 5em;
      background-color: var(--third);
}

.header a {
      padding-top: 3em;
}

.header a span {
      position: absolute;
      top: 75vh;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 3px solid var(--main);
      border-bottom: 3px solid var(--main);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      -webkit-animation: sdb05 2s infinite;
      animation: sdb05 2s infinite;
      box-sizing: border-box;
}

.back a span {
      position: absolute;
      top: 75vh;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 3px solid var(--main);
      border-bottom: 3px solid var(--main);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      -webkit-animation: sdb05 2s infinite;
      animation: sdb05 2s infinite;
      box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
      0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
      }

      50% {
            opacity: 1;
      }

      100% {
            -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
      }
}

@keyframes sdb05 {
      0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
      }

      50% {
            opacity: 1;
      }

      100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
      }
}

.bg-text p{
      position: absolute;
      background: var(--second);
      padding: 2em 2.5em;
      border: solid 1px var(--third);
}

figure p {
      margin: 1em;
}


.header {
      color: whitesmoke;
      padding: 0;
      text-align: center;
      padding-bottom: 2em;
}

.header img {
      margin:0;
      padding:0;
      width: 400px;
      height: 600px;
}

.row {
      padding: 1.5em;
}

.footer {
      border: solid 1px var(--second);
      background-color: var(--main);
      color: var(--second);
      text-align: center;
      font-size: 1em;
      padding: 15px;
}

/* CSS */
.button-32 {
      background-color: var(--main);
      border-radius: 15px;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      text-align: center;
      font-family: 'Unlock', cursive;
      font-size: 2em;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 10em;
      will-change: transform;
}



.button-32:hover {
      color: var(--main);
      background-color: var(--second);
      transform: translateY(-2px);
}

.propos {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
}

.propos img {
      align-items: center;
      max-width: 20em;
      transition: 3s;
}

.column img {
      max-width: 8em;
      max-height: 8em;
}

.column {
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--dark-main);
}
.column h3{
      font-family: 'Notable', sans-serif;
      letter-spacing: .1em;
}
.left {
      transition: 2s;
      width: 95%;
      height: 20vh;
      padding: 1em;
      margin: 1em 0 2em 0;
      background-color: var(--second);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.right {
      transition: 2s;

      width: 95%;
      padding: 1em;
      height: 20vh;
      margin: 1em 0 2em 0;
      background-color: var(--second);
      display: flex;
      flex-direction: row;
      justify-content: space-around;

}



.bg-image {
      /* The image used */
      background-image: url("/files/Salon Blog.jpg");

      /* Add the blur effect */
      filter: blur(5px);
      -webkit-filter: blur(5px);

      /* Full height */
      height: 100vh;

      /* Center and scale the image nicely */
      background-position: left 80% top 30%;
      transition: 2s;
}

/* Position text in the middle of the page/image */
.bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
}
.bg-text img{
      width: 20em;
      height: 30em;
}


@media only screen and (max-width: 768px) {
      .left {
            transition: 2s;
            width: 95%;
            height: 30vh;
            padding: 1em;
            margin: 1em 0 2em 0;
            background-color: var(--second);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
      }
      
      .right {
            transition: 2s;
            width: 95%;
            padding: 1em;
            height: 30vh;
            margin: 1em 0 2em 0;
            background-color: var(--second);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
      
      }
      
      /* For mobile phones: */
      [class*="col-"] {
            width: 100%;
      }

      .propos img {
            align-items: center;
            max-width: 10em;
      }

      .propos {
            display: flex;
      }


      .col-6 p {
            padding-left: 2em;
            padding-right: 2em;
      }

      .header {
            transition: 2s;
            color: whitesmoke;
            padding: 0;
            text-align: center;
            padding-bottom: 2em;
      }
}